<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @status.user.full_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @status.content %>
</p>

<p>
  <strong>Link:</strong>
  <%= @status.link %>
</p>
<p>
  <strong>Time Ago:</strong>
<%= link_to time_ago_in_words(@status.created_at) + " ago", @status %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
